pocketrank.api.sjolander.no {
    request_body {
        max_size 10MB
    }
    reverse_proxy 127.0.0.1:8090 {
        transport http {
        }
    }
}

pocketrank.sjolander.no {
    request_body {
        max_size 10MB
    }
    root * /var/www/pocketrank
}